@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root{

    /*cores*/

    --azul:hsl(223, 47%, 23%);
    --azul50:hsl(225, 100%, 98%);
    --azul100:hsl(225, 100%, 94%);
    --azul700:hsl(245, 75%, 52%);
    --cinza:hsl(224, 23%, 55%);

    /*fontes*/

    --fontebody:"Red Hat Display", sans-serif;
}

body{
    font-family: var(--fontebody); 
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--azul100);
    height: 100vh;
}

@media (max-width: 500px){
    body{
        background-image: url("images/pattern-background-mobile.svg");
    }
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main{
    box-shadow: 2px 6px 9px 5px rgba(0, 0, 0, 0.041);
    border-radius: 20px;
}

section{
    justify-content: center;
    align-items: center;
    max-width: 450px;
    text-align: center;
    background-color: white;
    color: var(--cinza);
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.principal{
    width: 350px;
    margin: auto;
}

img{
   border-radius: 20px 20px 0px 0px;
   width: 100%;
   margin-bottom: 15px;
}

h1{
    font-weight: 900;
    color: var(--azul);
    font-size: 25px;
}

.plano{
    display: flex;
    justify-content: space-between ;
    background-color: var(--azul50);
    width: 350px;
    height: 70px;
    margin: auto;
    padding: 15px;
}

.plano > a{
    color: var(--azul700);
    font-weight: 700;
    transition: 0.3s;
}

.plano > a:hover{
    color: hsl(261, 100%, 62%);
    text-decoration: none; 
}

.preço{
    display: flex;
    align-items: center;
    gap: 15px;
    
    padding: 10px;
}

.texto{
    display: flex;
    flex-direction: column;
}

.texto > p{
    margin: 5px;
}

strong{
    color: var(--azul);
    font-weight: 800;
}

.botao{
    background-color: var(--azul700);
    color: white;
    width: 350px;
    margin: auto;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0px 12px 20px 6px hsla(245, 75%, 52%, 0.205);
    transition: 0.2s;
}

.botao:hover{
    background-color: hsl(261, 100%, 62%); 
}

.botao > a{
    color: white;
    font-weight: 800;
    text-decoration: none;
}

p > strong{
    color: var(--cinza) ;
}

p > strong:hover{
    color: black;
}


